body{
  margin: 0;
}
.container{
  background-color: lightgrey;
  height: 600px;

}
.score{
  background-color: #2189a9c2;
  height: 100px;
  font-family: helvetica;
  font-size: 85px;
  text-align: center;
}
.myturn{
  background-color: #e0e0e0;
  width: 50%;
  height: 100%;
  float: left;
  font-size: 150px;
  text-align: center;

}
.opponent{
  background-color: #cafaff;
  width: 50%;
  height: 100%;
  float: right;
  font-size: 150px;
  text-align: center;
}
.choises{
  text-align: center;

  font-size: 100px;
  background-color: lightblue;
  width: 100%;
  margin-top: 270px;
  height: auto;
  bottom: ;
  z-index: 10;
}
.choises .rock{
width: 100px;
float: left;

}
.choises .ppr{
  float: left;
  width:100px;
}
.choises .scissors{
  width: 100px;
  float: left;
}
