.container{
  background-color: lightgrey;
  height: 600px;
}
.score{
  background-color: grey;
  height: 100px;

}
.myturn{
  background-color: darkgrey;
  width: 50%;
  height: 100%;
  float: left;
}
.opponent{
  background-color: #C3C3C3;
  width: 50%;
  height: 100%;
  float: right;

}
